<!-- <div class="parent">
    <div class="main">  	
        <input type="checkbox" id="chk" aria-hidden="true">
    
            <div class="signup">
                <form>
                    <label for="chk" aria-hidden="true">Sign up</label>
                    <input type="text" name="txt" placeholder="User name" required="" [(ngModel)]="signupObj.userName" >
                    <input type="email" name="email" placeholder="Email" required="" [(ngModel)]="signupObj.email">
                    <input type="password" name="pswd" placeholder="Password" required="" [(ngModel)]="signupObj.password">
                    <button (click)="onSignUp()">Sign up</button>
                </form>
            </div>
    
            <div class="login">
                <form>
                    <label for="chk" aria-hidden="true">Login</label>
                    <input type="text" name="userName"  placeholder="Email" required="" [(ngModel)]="loginObj.userName">
                    <input type="password" name="pswd" placeholder="Password" required="" [(ngModel)]="loginObj.password">
                    <button (click)="onLogin()" >Login</button>
                </form>
            </div>
    </div>
</div> -->


<!-- login.component.html -->

<div class="parent">
    <div class="main">
      <input type="checkbox" id="chk">
      <!-- Signup form -->
      <div class="signup" *ngIf="signupForm">
        <form [formGroup]="signupForm" (ngSubmit)="onSignUp()">
          <label for="chk" aria-hidden="true">Sign up</label>
          <input type="text" formControlName="userName" placeholder="User name">
          <div *ngIf="signupForm.get('userName')?.hasError('required') && signupForm.get('userName')?.touched" class="error" >
            User name is required.
          </div>
  
          <input type="email" formControlName="email" placeholder="Email">
          <div *ngIf="signupForm.get('email')?.hasError('required') && signupForm.get('email')?.touched" class="error">
            Email is required.
          </div>
          <div *ngIf="signupForm.get('email')?.hasError('email') && signupForm.get('email')?.touched" class="error">
            Please enter a valid email address.
          </div>
  
          <input type="password" formControlName="password" placeholder="Password">
          <div *ngIf="signupForm.get('password')?.hasError('required') && signupForm.get('password')?.touched" class="error">
            Password is required.
          </div>
  
          <button type="submit" [disabled]="!signupForm.valid">Sign up</button>
        </form>
      </div>
  
      <!-- Login form -->
       <div class="login" *ngIf="loginForm">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <label for="chk" aria-hidden="true">Login</label>
          <input type="text" formControlName="userName" placeholder="UserName">
          <div *ngIf="loginForm.get('userName')?.hasError('required') && loginForm.get('userName')?.touched" class="error">
            Email is required.
          </div>
      
          <input type="password" formControlName="password" placeholder="Password">
          <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" class="error">
            Password is required.
          </div>
      
          <button type="submit" [disabled]="!loginForm.valid">Login</button>
        </form>
      </div>
    </div>
  </div>
  
